################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ApoSBlog/v15
/bin/Debug/netcoreapp2.0
/obj/Debug/netcoreapp2.0
